[submodule "AndroidDataTransfer"]
	path = AndroidDataTransfer
	url = https://github.com/arun120/AndroidDataTransfer.git
	branch = BOBFinathon
[submodule "rmtbranch"]
	path = Android-DTMFReader
	url = https://github.com/arun120/Android-DTMFReader.git
	branch = BOBfinathon
